*{
  font-family: "Roboto", sans-serif;
  margin: 0;
}
/** HEADER **/
header h1{
}
.header-description{
  display: block;
}
/** CARDS **/
.card{
  border: 1px solid #d5d9e0;
  display: block;
}
/** CARD NAMES **/
.card-name{
  font-weight: bold;
}
/** CARD DESCRIPTIONS **/
.card-description{
  
}
