*{
  font-family: "Roboto", sans-serif;
  margin: 0;
}
/** HEADER **/
header{
  width: 100%;
  background: #e5cb59;
  position: fixed;
}
header h1{
}
.header-description{
  display: block;
}
/** GRID **/
.training-cards-grid{
  margin-top: 100px;
}
/** CARDS **/
.card{
  border: 1px solid #d5d9e0;
  display: block;
  margin-top: 20px;
}
/** PHOTOS **/
.card img{
  width: 100%;
}
/** CARD NAMES **/
.card-name{
  font-weight: bold;
}
/** CARD DESCRIPTIONS **/
.card-description{
  display: block;
}
.card-name, .card-description{
  padding: 20px;
}
