*{
  font-family: "Impact", Charcoal, sans-serif;
  background-color: #00a9ff;
  margin: 0;
}
/** LOGO **/
header{
  text-align: center;
  padding: 30px;
}
header img{
  height: 35px;
}
/** ROUND BORDERS **/
.signup-box, .signup-box input, .signup-box button{
  border-radius: 3px;
}
/** BOX **/
.signup-box{
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  padding: 40px 40px;
  box-sizing: border-box;
  background-color: #ffffff;
}
/** FIX BACKGROUND COLOUR FOR ALL ITEMS IN SIGNUP-BOX **/
h1, label, input, .forgotpassword a{
    background-color: #ffffff;
}
/** SIGN UP **/
h1{
  font-weight: normal;
  text-align: center;
  margin-bottom: 40px;
  color: #6b6d70;
}
/** EMAIL/PASSWORD TEXT **/
.signup-box label{
  display: block;
}
/** INPUTS/BUTTON **/
.signup-box input, .signup-box button{
  width: 320px;
  height: 55px;
  padding: 15px 15px;
  box-sizing: border-box;
}
/** EMAIL/PASSWORD INPUT **/
.signup-box input{
  border: 2px solid #d5dae2;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.1em;
}
/** SIGN UP BUTTON **/
.signup-box button{
  background-color: #37bf5d;
  font-size: 1.3em;
  font-weight: bold;
  color: #ffffff;
  border: none;
  margin-bottom: 10px;
}
.signup-box button:hover{
  background-color: #267c39;
}
/** FORGOT PASSWORD **/
.forgotpassword a{
  text-align: center;
  color: #8f9091;
  display: block;
}
/** EXISTING ACCOUNT **/
.log-in-redirect, .log-in-redirect a{
  color: #ffffff;
  font-weight: bold;
}
.log-in-redirect{
  display: block;
  text-align: center;
  padding: 15px;
}
