<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="shortcut icon" href="/images/a.ico" type="image/x-icon">
			<!-- For Macarons Blog of Things page -->
			<link href="https://avizajac.com/macarons/feed.category.xml" type="application/rss+xml" rel="alternate" title="Last 10 posts from Avi" />
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Source+Sans+Pro:300,400,600" rel="stylesheet">
		</head>
		<body>
			<nav>
	    		<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/#about">About</a></li>
					<li><a href="/#projects-things">Projects</a></li>
					<li><a href="/blog">Personal Blog</a></li>
					<li><a href="/macarons">Blog of Things</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
					<li><a href="mailto:hello@avizajac.com">Mail Forwarding</a></li>
					<li><a href="https://keybase.io/av1">Keybase</a></li>
        	  		<li><a href="https://www.linkedin.com/in/avizajac">LinkedIn</a></li>
              		<li><a href="https://twitter.com/_llzes">Twitter</a></li>
				</ul>
			</footer>
		</body>
	</html>
