*{
  margin: 0;
}
body{
  font-family: "Helvetica", sans-serif;
  font-size: 1.2em;
}
nav{
  position: fixed;
  background: #d3d3d3;
  width: 100%;
  
}
nav ul, nav li{
  display: inline-block;
}
nav ul{
  list-style: none;
  float: right;
}
nav li{
  vertical-align: middle;
}
