*{
  margin: 0;
}
body{
  font-family: "Helvetica", sans-serif;
  font-size: 1.2em;
}
a{
  text-decoration: none;
}
header{
  width: 100%;
  background: #e0e0e0;
  border-bottom: 1px solid #d4d4d4;
  position: fixed;
}
.topnavbar nav{
  padding-right: 30px;
  padding-left: 30px;
}
header h1{
  padding: 10px;
  font-size: 20px;
}
.topnavbar ul, nav li{
  display: inline-block;
  list-style: none;
}
.topnavbar ul{
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 3 5px;
}
.topnavbar li{ 
}
a:hover{
  text-decoration: underline;
}
main{
  padding: 100px;
}
searchbar{
  display: inline-block;
  height: 27px;
}
.typesearch{
  font-size: 20px;
  border-radius: 5px;
  border: 1px solid #d4d4d4;
  width: 471px;
}
.searchicon{
  border-radius: 5px;
  border: 1px solid #d4d4d4;
  height: 19px;
  padding: 4px 10px;
  margin-bottom: -7px;
}
.pages{
  margin-top: 20px;
  border: 1px solid #d4d4d4;
  padding: 5px;
  width: 300px;
  border-radius: 5px;
}
.prevpage, .nextpage{
  display: inline-block;
  padding: 5px
}
.prevpage{
}
.currentpage{
  border: 1px solid #d4d4d4;
  padding: 10.5px 15px
}
.nextpage{
}
.jobs ul, .jobs li{
  padding-top: 15px;
  list-style: none;
  padding-left: 0;
}
.postdate{
  color: #808080;
}
.jobtitle{
  color: #0000ff;
  font-weight: bold;
}
.location{
  color: #808080;
}
.pages{
  display: inline-block;
}
